<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Здравствуйте </h1>
    <p>
      Петиция "<%= @petition.name %>" собрала <%= @petition.votes.count %> голосов и должна быть рассмотрена!
    </p>
  </body>
</html>